﻿<div class="container-fluid" *ngFor="let module of chosenModules">
    <div class="col-xs-12" [ngSwitch]="module">
        <span *ngSwitchCase="'browser'">
            <browser></browser>
        </span>
        <span *ngSwitchCase="'where'">
            <where></where>
        </span>
        <span *ngSwitchCase="'meeting'">
            <meeting></meeting>
        </span>
        <span *ngSwitchCase="'weather'">
            <weather></weather>
        </span>
        <span *ngSwitchCase="'bill'">
            <bill></bill>
        </span>
        <span *ngSwitchCase="'tickets'">
            <tickets></tickets>
        </span>
        <span *ngSwitchCase="'bbc'">
            <bbc></bbc>
        </span>
        <span *ngSwitchCase="'reddit'">
            <reddit></reddit>
        </span>
        <span *ngSwitchCase="'messages'">
            <messages></messages>
        </span>
        <span *ngSwitchCase="'train'">
            <train></train>
        </span>
    </div>
</div>