﻿<div class="container-fluid row">
    <div class="container col-xs-3" style="height:60em; margin-top:3%">
            <button class="btn btn-warning btn-block" style="margin-top:3px;margin-bottom:5px;font-size:1.5em">
                {{title}}
            </button>
        <div class="container-fluid" style="background-color:white; border-radius:10px;height:15em;margin-top:10px; margin-bottom:3px">
            <user-login></user-login>
        </div>
        <div class="container-fluid" >
            <ul style="list-style:none">
                <li @moduleState="browser.state">
                    <button (click)="browser.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-time"></span>&emsp;Browser Tracker
                    </button>
                </li>
                <li @moduleState="where.state">
                    <button (click)="where.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-sunglasses"></span>&emsp;Whereabouts
                    </button>
                </li>
                <li @moduleState="meeting.state">
                    <button (click)="meeting.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-calendar"></span>&emsp;Meetings
                    </button>
                </li>
                <li @moduleState="weather.state">
                    <button (click)="weather.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-cloud"></span>&emsp;Weather
                    </button>
                </li>
                <li @moduleState="bill.state">
                    <button (click)="bill.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-cutlery"></span>&emsp;Canteen Bill
                    </button>
                </li>
                <li @moduleState="tickets.state">
                    <button (click)="tickets.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-tags"></span>&emsp;Tickets
                    </button>
                </li>
                <li @moduleState="bbc.state">
                    <button (click)="bbc.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-info-sign"></span>&emsp;BBC News
                    </button>
                </li>
                <li @moduleState="reddit.state">
                    <button (click)="reddit.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-arrow-up"></span>&emsp;Reddit
                    </button>
                </li>
                <li @moduleState="messages.state">
                    <button (click)="messages.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-envelope"></span>&emsp;Messages
                    </button>
                </li>
                <li @moduleState="train.state">
                    <button (click)="train.toggleState()" class="btn btn-warning" style="margin-top:10px;margin-bottom:5px;font-size:1.2em">
                        <span class="glyphicon glyphicon-road"></span>&emsp;Train Times
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="container col-xs-8" style="background-color:white;color:orange; font-weight:bold; margin-top:4%; border-radius:10px; height:60em;overflow-y:auto;margin-right:5%">
        <home [tickets]="tickets.state"[bbc]="bbc.state"[reddit]="reddit.state"[messages]="messages.state"[train]="train.state"[browser]="browser.state"[where]="where.state"[meeting]="meeting.state"[weather]="weather.state"[bill]="bill.state"></home>
    </div>
</div>

