<div class="container-fluid" style="background-color:orange;color:white;border-radius:10px;margin-top:20px; height:15em">
    <table class="table" style="border-spacing:0">
        <tbody>
            <tr style="height:0.4em">
                <td>Top Stories</td>
                <td>Link</td>
            </tr>
            <tr *ngFor="let x of bbcData" style="height:0.4em">
                <td>{{x.Title}}</td>
                <td><a target="_blank" href="{{x.Link}}">More</a></td>
            </tr>
        </tbody>
    </table>
</div>