﻿<div class="container-fluid" style="background-color:orange;color:white;border-radius:10px;margin-top:10px;height:10em">
    <h6>Browser History:</h6>
    <img style="display:block; height:8em" src="app/wordle.png" />
    <img style="display:block; height:8em" src="app/Time_Usage_Bar.png" />
    <img style="display:block; height:8em" src="app/Time_Usage_Pie.png" />
</div>