﻿<div class="container-fluid" style="background-color:orange;color:white;border-radius:10px;margin-top:20px; height:15em">
    <table class="table" style="border-spacing:0">
        <tbody>
            <tr style="height:0.4em">
                <td>Topic</td>
                <td>Organizer</td>
                <td>Start Time</td>
                <td>End Time</td>
            </tr>
            <tr  *ngFor="let x of meetingData.slice(0,3)" style="height:0.4em">
                <td>{{x.Topic}}</td>
                <td>{{x.Organizer}}</td>
                <td>{{x.Start_Time}}</td>
                <td>{{x.End_Time}}</td>
            </tr>
        </tbody>
    </table>
</div>