<div class="container-fluid" style="background-color:orange;color:white;border-radius:10px;margin-top:20px; height:15em">
    <table class="table" style="border-spacing:0">
        <tbody>
            <tr style="height:0.4em">
                <td>Subject</td>
                <td>Sender</td>
            </tr>
            <tr *ngFor="let x of messagesData.slice(0,3)" style="height:0.4em">
                <td>{{x.Subject}}</td>
                <td>{{x.Sender}}</td>
            </tr>
        </tbody>
    </table>
</div>