<div class="container-fluid" style="background-color:orange;color:white;border-radius:10px;margin-top:20px; height:15em">
    <table class="table" style="border-spacing:0">
        <tbody>
            <tr style="height:0.4em">
                <td>Issue Id</td>
                <td>Customer</td>
                <td>Status</td>
            </tr>
            <tr *ngFor="let x of ticketsData" style="height:0.4em">
                <td>{{x.issue_id}}</td>
                <td>{{x.customername}}</td>
                <td>{{x.status}}</td>
             </tr>
        </tbody>
    </table>
</div>