<div class="container-fluid" style="background-color:orange;color:white;border-radius:10px;margin-top:20px; height:15em">
    <table class="table" style="border-spacing:0">
        <tbody>
            <tr style="height:0.4em">
                <td>Destination</td>
                <td>Departure Time</td>
            </tr>
            <tr *ngFor="let x of trainData.slice(0,3)" style="height:0.4em">
                <td>{{x.Train_Station}}</td>
                <td>{{x.Time}}</td>
            </tr>
        </tbody>
    </table>
</div>