﻿<div class="container-fluid" style="background-color:orange;color:white;border-radius:10px;margin-top:20px; height:15em">
    <table class="table" style="border-spacing:0">
        <tbody>
            <tr style="height:0.4em">
                <td>Day</td>
                <td>Description</td>
                <td>Max Temp</td>
                <td>Min Temp</td>
                <td></td>
            </tr>
            <tr  *ngFor="let x of weatherData" style="height:0.4em">
                <td>{{x.Day}}</td>
                <td>{{x.Description}}</td>
                <td>{{x.Max_Temperature}}</td>
                <td>{{x.Min_Temperature}}</td>
                <td>
                    <span *ngIf="x.Description=='Sunny'">
                        <span class="glyphicon glyphicon-sunglasses"></span>
                    </span>
                    <span *ngIf="x.Description!='Sunny'">
                        <span class="glyphicon glyphicon-cloud"></span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>