﻿<div class="container-fluid" style="background-color:orange;color:white;border-radius:10px;margin-top:20px; height:15em">
    <table class="table" style="border-spacing:0">
        <tbody>
            <tr style="height:0.4em">
                <td>Time</td>
                <td *ngFor="let x of whereData">{{x.day}}</td>
            </tr>
            <tr style="height:0.4em">
                <td>Morning</td>
                <td *ngFor="let x of whereData">{{x.Morning}}</td>
            </tr>
            <tr style="height:0.4em">
                <td>Afternoon</td>
                <td *ngFor="let x of whereData">{{x.Afternoon}}</td>
            </tr>
        </tbody>
    </table>
</div>